@import "tailwindcss";
@import "@nuxt/ui";

@layer base {
  html {
    color-scheme: dark;
  }
}

@theme static {
  --font-sans: 'Public Sans', sans-serif;

  --color-gold-50: #FFFBE6;
  --color-gold-100: #FFF3B8;
  --color-gold-200: #FFE97A;
  --color-gold-300: #F9E243;
  --color-gold-400: #F5EC6C;
  --color-gold-500: #F3DA41;
  --color-gold-600: #D2B33B;
  --color-gold-700: #A46F25;
  --color-gold-800: #7C541A;
  --color-gold-900: #5B3D13;
  --color-gold-950: #3A270C;
}

.dark {
  --ui-bg: var(--ui-color-neutral-950);
  --ui-bg-muted: var(--ui-color-neutral-900);
  --ui-bg-elevated: var(--ui-color-neutral-900);
  --ui-bg-accented: var(--ui-color-neutral-800);
}